// used in the ScheduleSlot component
$color-occupied: #00B2E2;
$color-occupied-too: #00A2D0;
$color-free: #36D526;

// used in the TimerIcon components
$color-occupied-timer: #C57BB4;
$color-free-soon-timer: #F6B053;
$color-occupied-soon-timer: #F79D5E;