$gradient-busy: linear-gradient(134deg, #621279 0%, #C961A5 58%, #FFCEC5 100%);
$gradient-free: linear-gradient(134deg, #3FD68E 10%, #88E172 62%, #C5EC5B 100%);
$gradient-soon-busy: linear-gradient(134deg, #FCA162 2%, #F2751A 58%, #DE4113 100%);
$gradient-soon-free: linear-gradient(134deg, #FEC41F 0%, #F28C1A 58%, #EA6916 100%);